.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #121220;
}

.button-container {
  margin-bottom: 1rem;
}

.button-container button {
  color: white;
  height: 3rem;
  width: 10rem;
}

.checkbox {
  height: 2rem;
  width: 2rem;
}